@model IEnumerable<Member>

@{
    ViewBag.Title = "Members List";
}
<p>
    <a asp-action="Register" asp-controller="Member" class="btn btn-primary">Add New Member</a>
</p>
<div></div>
<h2>Members List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Registration Date</th>
            <th>Checkouts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.Email</td>
                <td>@member.Address</td>
                <td>@member.PhoneNumber</td>
                <td>@member.JoinDate.ToShortDateString()</td>
                <td>@member.Checkouts..ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

