@model IEnumerable<CustomIdentity.Models.Member>

<h2>Members</h2>

<p>
    <a asp-controller="Members"  asp-action="Create" class="btn btn-primary">Register New Member</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Join Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.JoinDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MemberId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MemberId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MemberId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
